body{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
#navbar{
    display: flex;
    justify-content: space-around;
    height: 53px;
    padding: 10px;
    position: fixed;
    top: 0;
    align-items: center;
    transition: 0.5s;
    width: 100%;
    z-index: 1;
}
#navbar2{
    display: flex;
    justify-content: space-around;
    gap: 8px;
    align-items: center;
    position: relative;
}
#navbar2>p{
    padding: 10px 20px;
    border-radius: 3px;
}
#navbar>a>img{
    width:50%;
    padding: 20px;
}
#navbar2>p:nth-last-child(2){
    background-color: #6639b3;
    color: white;
}

#navbar2>p:nth-last-child(1){
    background-color: #ff7342;
    color: white;
}
#navbar2>p:hover,#navbar a:hover{
    color:rgb(50, 50, 189);
    cursor: pointer;
}

#navbar2>p:nth-last-child(2):hover{
    background-color:#4d298b;
    color: white;
}
#navbar2>p:nth-last-child(1):hover{
    background-color:#f4581f;
    color: white;
}
#navbar2>p:nth-last-child(1)>a:hover{
    color:white
}
#navbar2>p:nth-last-child(1)>a{
    color:white
}
.sticky{
    background-color: white; 
    overflow: hidden;  
    opacity: 1;

}
#navbar a{
    text-decoration: none;
    color: black;
}
